{% extends "base.html" %}
{% block content %}

<section class="about-content-wrapper">
    <div class="about-left">
        <h2>ABOUT US</h2>

        <p>
            <strong>Sustainify</strong> is a platform designed to help people give new life to pre-loved items. 
            Instead of throwing things away, users can sell, swap, or donate usable goods supporting a more 
            sustainable, eco-friendly lifestyle.
        </p>

        <p>
            Sustainify promotes reusing and recycling by allowing users to easily upload photos and descriptions 
            of the items they want to share. The platform encourages responsible consumption and helps people find 
            useful things without needing to buy new ones.
        </p>

        <p>
            Through Sustainify, everyone can take simple steps toward reducing waste, protecting the environment, 
            and living sustainably.
        </p>
    </div>

    <div class="about-right">
        <img src="{{ url_for('static', filename='batstateu.png') }}" class="about-profile-img" alt="Sustainify Logo">
    </div>
</section>

<section class="developer-section">
    <h3 class="developer-title">Developers</h3>

    <ul class="developer-list">
        <li>Fonte, Gwenn Ellese Z.</li>
        <li>Lajara, Gilian F.</li>
        <li>Sy Tamco, Jay Bian L.</li>
        <li>Vergara, Toni Cezhar L.</li>
    </ul>
</section>
    <br>
    <br>    

{% endblock %}
