{% extends "base.html" %}
{% block content %}

<section class="hero-section">
    <h2 class="page-title">Give items a second life.</h2>
    <p class="subtitle">Sell, Swap, or Donate pre-loved items in your community.</p>
</section>

<section class="filter-section">
    <form method="GET" class="filter-form">

        <button type="submit" class="filter-btn">
            <svg width="22" height="22" viewBox="0 0 24 24" fill="none" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <polygon points="3 4 21 4 14 13 14 20 10 22 10 13 3 4"></polygon>
            </svg>
        </button>

        <select name="category" class="filter-select">
            <option value="">All</option>
            <option value="Electronics" {% if request.args.get('category')=='Electronics' %}selected{% endif %}>Electronics</option>
            <option value="Clothing" {% if request.args.get('category')=='Clothing' %}selected{% endif %}>Clothing</option>
            <option value="Books" {% if request.args.get('category')=='Books' %}selected{% endif %}>Books</option>
            <option value="Furniture" {% if request.args.get('category')=='Furniture' %}selected{% endif %}>Furniture</option>
            <option value="Appliances" {% if request.args.get('category')=='Appliances' %}selected{% endif %}>Appliances</option>
            <option value="School" {% if request.args.get('category')=='School' %}selected{% endif %}>School</option>
        </select>

    </form>
</section>



<section class="items-grid shop-grid">
    {% for item in items %}
    <div class="product-card">

        {% if item.image_path %}
        <div class="img-wrapper">
            <img src="{{ url_for('static', filename='uploads/' ~ item.image_path) }}"
                alt="{{ item.title }}">
        </div>
        {% else %}
        <div class="img-wrapper no-img">No Image</div>
        {% endif %}

        <div class="product-info">
            <h4 class="product-title">{{ item.title }}</h4>
            <p class="product-desc">
                {{ item.description[:80] }}{% if item.description|length > 80 %}...{% endif %}
            </p>

            <a href="{{ url_for('view_item', item_id=item.id) }}" class="view-btn">
                View Details
            </a>
        </div>

    </div>
    {% endfor %}
</section>

{% endblock %}
