{% extends "base.html" %}
{% block content %}

<section class="form-container">
    <h2 class="page-title">Post an Item</h2>

    <form method="POST" enctype="multipart/form-data">
        <div class="form-group">
            <label class="form-label">Title</label>
            <input name="title" class="form-input" required>
        </div>

        <div class="form-group">
            <label class="form-label">Description</label>
            <textarea name="description" class="form-textarea" rows="4" required></textarea>
        </div>

        <div class="grid-3">
            <div class="form-group">
                <label class="form-label">Category</label>
                <select name="category" class="form-select">
                    <option>Electronics</option>
                    <option>Clothing</option>
                    <option>Books</option>
                    <option>Furniture</option>
                    <option>Appliances</option>
                    <option>School</option>
                </select>
            </div>

            <div class="form-group">
                <label class="form-label">Type</label>
                <select name="type" class="form-select">
                    <option>Sell</option>
                    <option>Swap</option>
                    <option>Donate</option>
                </select>
            </div>

            <div class="form-group">
                <label class="form-label">Condition</label>
                <select name="condition" class="form-select">
                    <option>New</option>
                    <option>Like New</option>
                    <option>Used</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label class="form-label">Quantity</label>
            <input type="number" name="quantity" class="form-input" min="1" value="1" required>
        </div>

        <div class="form-group">
            <label class="form-label">Price</label>
            <input type="number" step="0.01" min="0" name="price" class="form-input">
        </div>

        <div class="form-group">
            <label class="form-label">Location</label>
            <input name="location" class="form-input">
        </div>

        <div class="form-group">
            <label class="form-label">Upload Image</label>
            <input type="file" name="image" class="form-input">
        </div>

        <button type="submit" class="btn-primary">Submit</button>
    </form>
</section>

{% endblock %}
